    body {
    color: #282828;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: 14pt;
    background-image: url(../images/background.png);
    background-size: cover;
  /*Float the aside so it displays next to main*/}

#container{
    width: 1280px;
    height: auto;
    background-color: rgba(255,255,255,1.00);
    margin: auto;
    background-size: cover;
}


/*Float the main so it shows uo next to the Aside. Reduce width by 150px so they both like header.*/


aside {
    width: 150px;
    height: 1200px;
    background-color: rgba(103,103,103,1.00);
    float: left;
}

header {
    width: 1280px;
    height: 250px;
    background-color: #FFFFFF;
    background-image: url(../images/p5duck.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 50px 0px 0px 0px;
} 

main {
    width: 1100px;
    height: auto;
    float: left;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
	background-color: white;
    
}

h1 {
    color: #FFF200;
    font-family: "politica", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24pt;
}

p{
   
    font-weight: 400;
    font-style: normal;
    
}
h3 {
    font-size: 12pt;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

/*Clear the float so the footer shows up in the right place again*/
footer {
    width: 1280px;
	height: 50px;
	background-color: #646464;
    clear: both;
	float: clear;
	
}

img {
    float: right;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    /*font-size: 14pt;*/
}
/*
.floatleft {
	float: left;
}
/*just in case;*/

article {
    margin-bottom: 50px;
}

nav {
    width: 1280px;
    height: 50px;
    background-color: white;
    position: fixed;
    top: 0px;
}

#container nav li {
    display: block;
    list-style-type: none;
	float: left;
	margin: 0px 60px 0px 0px;
	width: 80px;
	font-family: neonoir, sans-serif;
	font-size: 18pt;
}

#container nav ul {
    margin: auto;
    width: 565px;

}

nav a:link {
    color: #FFF100;
    padding: 10px;
    text-decoration: none;
}
nav a:visited {
    text-decoration: none;
    color: #5826A0;
}
nav a:hover {
    text-decoration: none;
    color: yellow;
    background-color: grey;
    padding: 10px;
    border-radius: 20px;
}
nav a:active {
    text-decoration: none;
    color: #2C2929;
}
.submit_btn {
    width: 170px;
    height: 30px;
    border-radius: 10px;
    background-color: grey;
    color: rgba(255,255,255,1.00);
    font-size: 16px;
   
}

.submit_btn:hover {
	
	 -webkit-box-shadow: 6px 6px 35px 1px #000000;
    box-shadow: 6px 6px 35px 1px #000000;
}
.column {
    width: 250px;
    height: 750px;
    float: left;
    margin-left: 60px;
    margin-right: 20px;
}

.cclicense {
	width: 500px;
	height: 20px;
	clear: both;
	padding: 50px 0px 0px 0px;
	
}
video {
    width: 600px;
    margin: auto;
    height: 600px;
}
/*rules the page will follow for tablet-sized devices*/
@media (max-width: 1024px){
	#container {
		width: 768px;
	}
	 
	header {
		width: 768px;
	}

	nav {
		width: 768px;
	}

	main {
		width: 598px;
		height: 2500px;
	}

	footer {
		width: 768px;
	}

}

.column {
	
	margin: 0px 20px 0px 25px;
}


/*Rules the page will follow on mobile device*/
@media only screen and (max-width:375px){
	#container {
		width: 300px;
	}
	 
	header {
		width: 300px;
		background-image: url("../images/my_logo_phone.png")
	}

	nav {
		width: 300px;
		height: 250px;
		position: static;
	}

	main {
		width: 280px;
	}

	footer {
		width: 300px;
	}
	aside {
		display: none;
	}

	#container nav li {
	display: list-item;
	list-style-type: none;
	float: none;
	margin: 0px 0px 20px 0px;
	width: 260px;
	text-align: center;	
	
}
	
	#container nav ul {
	width: 260px;
}

	nav a:link {
	display: block;
	width: 200px;
	background-color: gray;
	color: yellow;
	}
	
	nav a:visited {
	text-decoration: none;
	color: white;
}

}
